#root{
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.card{
  max-width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

img{
  width: 100%;
}

.title{
  font-size: 20px;
  color: grey;
}

.social{
  padding: 10px;
}

a{
  font-size: 25px;
  margin: 5px;
  color: black;
}

button{
  width: 400px;
  background-color: black;
  color: white;
  font-weight: bold;
}